/* Application */

.application {
  margin-top: -69px;
  padding-top: 69px;

  color: $white;

  background-color: $midnight-express;
  background-repeat: no-repeat;
  background-position: center top;

  @media (max-width: $mobile-width-only) {
    background-image: url("../img/bg-back-mobile@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-mobile@2x.jpg");
      background-size: 660px auto;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: -109px;
    padding-top: 109px;
    background-image: url("../img/bg-back-tablet@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-tablet@2x.jpg");
      background-size: 1200px auto;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: -110px;
    padding-top: 110px;

    background-image: url("../img/bg-back-desktop@1x.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/bg-back-desktop@2x.jpg");
      background-size: 2560px auto;
    }
  }
}

.application__wrapper {
  margin: 0 auto;

  &--hand {
    background-repeat: no-repeat;
    background-image: url("../img/iphone-hand-mobile@1x.png");
    background-position: 0 107px;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/iphone-hand-mobile@2x.png");
      background-size: 258px auto;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 100px;

    &--hand {
      background-repeat: no-repeat;
      background-position: center bottom;
      background-image: url("../img/iphone-hand-tablet@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-tablet@2x.png");
        background-size: 700px auto;
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    width: 940px;

    &--hand {
      background-repeat: no-repeat;
      background-position: 27px bottom;
      background-image: url("../img/iphone-hand-desktop@1x.png");

      @media (min-resolution: 2dppx) {
        background-image: url("../img/iphone-hand-desktop@2x.png");
        background-size: 1050px auto;
      }
    }
  }

  &--center {
    @media (min-width: $tablet-width) {
      padding-top: 66px;
      padding-bottom: 60px;
    }

    @media (min-width: $desktop-width) {
      padding-top: 46px;
      padding-bottom: 90px;
    }
  }
}

.application__header {
  margin: 0 auto;
  padding: 25px 20px 0 20px;
  width: 280px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 20px 20px 0 20px;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 10px 0 10px;
  }
}

.application__wrapper--center .application__header {
  margin: 0 auto;
  padding-bottom: 58px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 0;
    width: 500px;
  }

  @media (min-width: $desktop-width) {
    width: 747px;
  }
}

.application__wrapper--center .application__intro {
  @media (min-width: $tablet-width) {
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.application__wrapper--center .application__intro--mod-text {
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    padding-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 0;
  }
}

.application__intro {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 1.2;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 77px;
    font-size: 50px;
    line-height: 68px;
  }

  &--mod-text {
    line-height: 33px;

    @media (min-width: $tablet-width) {
      margin: 0 auto;

      font-size: 50px;
      line-height: 68px;

      width: 500px;
    }
  }
}

.application__download {
  margin: 0;
  background-color: $midnight-express;

  @media (max-width: $mobile-width-only) {
    margin-top: 310px;
  }

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.application__download-wrapper {
  margin: 0 auto;
  padding: 28px 20px 38px 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 52px 20px 113px 20px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    padding: 37px 10px 125px 0;
  }
}

.application__button {
  background-color: transparent;
  border-radius: 30px;
  border: 3px solid $white;
  display: block;
  cursor: pointer;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding: 18px 19px 18px 18px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 16px 19px 16px 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding: 16px 19px 17px 18px;
  }

  &:hover {
    background-color: $white;
    color: $cerise;
    box-shadow: 0 5px 7px $black--075;
  }

  &:focus {
    background-color: $white;
    color: $cerise;
    box-shadow: 0 5px 7px $black--075;
  }

  &:active {
    background-color: $white;
    color: $cerise--030;
  }
}

.application__list {
  margin: 0;
  padding: 32px 0 28px 0;
  height: 100%;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  gap: 35px;

  @media (min-width: $tablet-width) {
    padding: 46px 0 33px 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 66px 0 51px 0;
    align-items: end;
    gap: 34px;
  }
}

.application__item {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    &:nth-child(2n),
    &:nth-child(3n) {
      padding-bottom: 3px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2n) {
      padding-right: 3px;
    }

    &:nth-child(3n) {
      padding-bottom: 3px;
    }
  }
}

.application__os-logo {
  margin: 0;
  display: flex;
  align-items: center;

  color: $white;

  &:focus {
    box-shadow: 0 5px 0 $white--075;
  }
}

.application__available {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
