/* Application */

.application {
  outline: 5px solid rgba(blue, 0.35);
  outline-offset: -5px;

  background-color: $gainsboro-2;
  color: $white;
}

.application__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    width: 940px;
  }
}

.application__header {
  margin: 0 auto;
  padding: 20px 20px 0 20px;
  width: 280px;

  text-align: center;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 10px 10px 0 10px;
  }

  &--center {
    outline: 5px solid rgba(red, 0.35);
    outline-offset: -5px;

    margin: 0 auto;

    @media (min-width: $tablet-width) {
      width: 500px;
    }

    @media (min-width: $desktop-width) {
      width: 747px;
    }
  }
}

.application__intro {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }

  &--mod-text {
    outline: 5px solid rgba(green, 0.35);
    outline-offset: -5px;

    line-height: 33px;

    @media (min-width: $tablet-width) {
      margin: 0 auto;

      font-size: 50px;
      line-height: 68px;

      width: 500px;
    }
  }
}

.application__download {
  margin: 0;
  background-color: $midnight-express;

  @media (min-width: $tablet-width) {
    background-color: transparent;
  }
}

.application__download-wrapper {
  margin: 0 auto;
  padding: 28px 20px 38px 20px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 39px 20px 119px 20px;
    width: 300px;
  }

  @media (min-width: $desktop-width) {
    padding: 51px 10px 130px 10px;
  }
}

.application__button {
  background-color: transparent;
  border-radius: 29px;
  border: 3px solid $white;
  display: block;
  cursor: pointer;
  color: $white;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  padding: 18px 19px 18px 18px;
  text-align: center;

  @media (min-width: $desktop-width) {
    font-size: 21px;
    padding: 20px 19px 20px 18px;
  }

  &:hover {
    background-color: $white;
    color: $cerise;
    box-shadow: 0 5px 7px $black--075;
    border-radius: 30px;
  }

  &:focus {
    background-color: $white;
    color: $cerise;
    box-shadow: 0 5px 7px $black--075;
    border-radius: 30px;
  }

  &:active {
    background-color: $white;
    color: $cerise--030;
    border-radius: 30px;
  }
}

.application__list {
  margin: 0;
  padding: 32px 0 28px 0;
  height: 100%;
  list-style: none;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: end;
  justify-content: center;
  gap: 35px;

  @media (min-width: $tablet-width) {
    padding: 46px 0 38px 0;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 67px 0 58px 0;
    align-items: end;
    gap: 34px;
  }
}

.application__item {
  margin: 0;

  @media (max-width: $mobile-width-only) {
    &:nth-child(2n),
    &:nth-child(3n) {
      padding-bottom: 3px;
    }
  }

  @media (min-width: $desktop-width) {
    &:nth-child(2n) {
      padding-right: 3px;
    }

    &:nth-child(3n) {
      padding-bottom: 3px;
    }
  }
}

.application__os-logo {
  margin: 0;
  display: flex;
  align-items: center;

  color: $white;

  &:focus {
    box-shadow: 0 5px 0 $white--075;
  }
}

.application__available {
  margin: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;

  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
