/* Application */

.application {
  outline: 5px solid rgba(blue, 0.35);
  outline-offset: -5px;

  background-color: $gainsboro-2;
  color: $white;
}

.application__intro {
  margin: 0;
}

.application__download {
  margin: 0;
  background-color: $midnight-express;
}

.application__button {
  margin: 0;
}

.application__list {
  margin: 0;
}

.application__item {
  margin: 0;
}

.application__os-logo {
  margin: 0;
}

.application__available {
  margin: 0;
}
