/* Comments */

.comments {
  margin: 0;
  padding: 0;
}

.comments__wrapper {
  margin: 0 auto;

  padding: 0 20px 22px 20px;

  text-align: center;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 68px 10px 26px 10px;
    width: 940px;
  }
}

.comments__slideshow {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    padding: 101px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 0 0 0;
    background-image: url("../img/icon-quotes.svg");
    background-repeat: no-repeat;
    background-position: center 0;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
  }
}

.comments__body {
  display: flex;
  flex-direction: column;

  color: $bunting;

  order: 2;
}

.comments__user {
  margin: 0;
  padding: 42px 0 13px 0;

  order: 1;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $black;

  @media (min-width: $tablet-width) {
    padding: 35px 0 0 0;

    order: 2;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 35px 0 2px 0;

    font-size: 24px;
  }
}

.comments__text {
  margin: 0;
  order: 2;

  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    order: 1;

    margin: 0 auto;
    max-width: 690px;

    font-size: 18px;
  }
}

.comments__author {
  margin: 0;
  order: 3;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    line-height: 30px;
  }
}

.comments__arrow {
  display: none;

  @media (min-width: $desktop-width) {
    margin-top: 26px;

    &--left {
      order: 1;
    }

    &--right {
      order: 3;
    }

    display: block;

    width: 22px;
    height: 41px;

    padding: 0;
    border: none;

    background-color: inherit;

    fill: $bunting--030;

    &:hover,
    &:focus {
      fill: $bunting--060;
    }

    &:hover {
      cursor: pointer;
    }

    &:active {
      fill: $bunting--010;
    }
  }
}

.comments__control {
  padding: 36px 0 0 0;

  @media (min-width: $tablet-width) {
    padding: 40px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
