/* Form */

.form {
  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.form__inputs {
  display: flex;
  flex-wrap: wrap;

  @media (min-width: $desktop-width) {
    gap: 74px;
  }
}

.form__info .form__label,
.form__contact .form__label,
.form__legend {
  color: $cerise;
  text-transform: uppercase;
  font-size: 14px;
}

.form__info {
  order: 1;
}

.form__achievement {
  order: 2;

  @media (min-width: $tablet-width) {
    order: 4;
  }
}

.form__contact {
  order: 3;
}

.form__apps {
  order: 4;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.form__submit {
  padding: 52px 0 18px 0;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 32px;

  @media (min-width: $tablet-width) {
    padding: 70px 0 50px 0;

    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 69px 0 2px 0;
  }
}

.form__btn {
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.form__note,
.form__note-text {
  margin: 0;
}

.form__note-text {
  line-height: 30px;
  text-transform: uppercase;
}

.form__note-symbol {
  color: $cerise;
}
