/* Gallery */

.gallery {
  color: $bunting;

  font-size: 14px;
  line-height: 24px;

  display: grid;
  grid-template-rows: min-content min-content min-content;
}

.gallery__post {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.gallery__header {
  margin: 0;
  padding: 45px 20px 50px 20px;

  @media (min-width: $tablet-width) {
    padding: 90px 20px 78px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 10px;
  }
}

.gallery__intro {
  margin: 0 auto;
  padding: 0 15px;

  line-height: 30px;
  max-width: 420px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 0 80px;
    max-width: 640px;
  }
}

.gallery__users {
  outline: 5px solid rgba(red, 0.35);
  outline-offset: -5px;

  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;

  max-width: 580px;

  @media (min-width: $tablet-width) {
    max-width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    width: 940px;
    max-width: none;
  }
}
