// Like

.like {
  border: none;
  padding: 0;

  background-color: $whitesmoke;
  color: $cerise;

  display: flex;
  flex-wrap: wrap;

  align-items: center;

  gap: 18px;
  justify-content: flex-start;

  @media (min-width: $tablet-width) {
    width: 100%;

    gap: 16px;
    justify-content: space-between;
  }
}

.like--panorama {
  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.like__heart {
  order: 1;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    order: 2;
  }
}

.like__count {
  order: 2;

  text-transform: uppercase;

  cursor: pointer;

  @media (min-width: $tablet-width) {
    order: 1;
  }
}
