/* Main Nav */

.main-nav {
  margin: 0 auto;

  display: grid;
  grid-template-rows: min-content 1fr;

  background-color: $bunting;

  &--closed {
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-right: 10px;

    width: 940px;

    grid-template-columns: min-content 1fr;

    background-color: transparent;
  }
}

.main-nav__control {
  margin: 0;

  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-nav--opened .main-nav__control {
  background-color: $bunting;
}

.main-nav__toggle {
  margin: 24px 0;

  width: 23px;
  height: 23px;

  border: none;

  background: url("../img/icon-menu-group.svg") no-repeat;
  background-position: 0 -87px;

  @media (min-width: $tablet-width) {
    margin: 43px 0;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav--closed .main-nav__toggle {
  margin: 21px 0;

  width: 50px;
  height: 24px;

  cursor: pointer;

  background-position: 0 0;

  @media (min-width: $tablet-width) {
    margin: 43px 0;
  }

  &:hover {
    background-position: 0 -29px;
  }

  &:active {
    background-position: 0 -58px;
  }
}

.main-nav--opened .main-nav__toggle {
  width: 23px;
  height: 23px;

  cursor: pointer;

  background-position: 0 -87px;

  &:hover {
    background-position: 0 -115px;
  }

  &:active {
    background-position: 0 -143px;
  }
}

.main-nav--closed .main-nav__list {
  @media (max-width: $desktop-width - 1) {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  @media (max-width: $desktop-width) {
    display: block;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;

  box-shadow: 0 -1px 0 0 $black;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;

    align-items: center;

    justify-content: space-between;

    box-shadow: none;
  }
}

.main-nav__list-item {
  background-color: $bunting;

  border-top: 1px solid $white--015;
  border-bottom: 1px solid $black;

  @media (min-width: $desktop-width) {
    background-color: inherit;

    border: none;
  }
}

.main-nav__list-item a {
  position: relative;
  display: block;

  color: $white;

  padding: 15px 20px;

  text-align: center;
  text-transform: uppercase;

  font-weight: 700;
  font-size: 18px;
  line-height: 32px;

  &:hover {
    color: $cerise;
  }

  &:focus {
    color: $cerise;
  }

  &:active {
    color: $cerise--030;
  }

  @media (min-width: $desktop-width) {
    padding: 19px 0;

    font-weight: 400;
    line-height: 18px;

    color: $white;

    text-transform: none;

    &:active {
      color: $white--030;
    }
  }
}

.main-nav__list-item--active a {
  color: $white;

  @media (min-width: $desktop-width) {
    box-shadow: 0 2px 0 0 $white;

    &:hover {
      box-shadow: 0 2px 0 0 $cerise;
    }
  }
}
