/* Main Nav */

.main-nav {
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;

  display: grid;
  grid-template-rows: min-content 1fr;

  @media (min-width: $tablet-width) {
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 10px;
    padding-right: 10px;

    width: 940px;

    grid-template-columns: min-content 1fr;
  }
}

.main-nav__control {
  outline: 5px solid rgba(blue, 0.35);
  outline-offset: -5px;

  margin: 0;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.main-nav__list {
  outline: 5px solid rgba(yellow, 0.35);
  outline-offset: -5px;

  margin: 0;
  padding: 0;

  list-style: none;

  display: flex;
  flex-direction: column;

  align-items: center;

  @media (min-width: $desktop-width) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.main-nav__list-item {
  outline: 5px solid rgba(pink, 0.35);
  outline-offset: -5px;
}

.main-nav__toggle {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__logo {
  outline: 5px solid rgba(green, 0.35);
  outline-offset: -5px;

  margin: 0;

  width: 74px;
  height: 23px;

  padding-top: 22px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;

    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media (min-width: $desktop-width) {
    width: 320px;
    height: 40px;

    padding-top: 27px;
    padding-bottom: 43px;
  }
}
