/* Message */

.message {
  margin: 0 auto;
  position: fixed;
  top: 20vh;
  right: 0;
  left: 0;

  text-align: center;

  font-size: 18px;

  background: $white;
  box-shadow: 0 7px 15px $dark-green--015;
  border-radius: 5px;

  width: 280px;

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}

.message__title {
  margin: 0 auto;
  padding-top: 25px;

  font-size: 16px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    padding-top: 38px;

    width: 255px;

    font-size: 30px;
    line-height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;

    padding-top: 44px;
  }
}

.message__text {
  margin: 0 auto;

  padding: 10px 20px 25px 20px;
  font-size: 14px;

  @media (min-width: $tablet-width) {
    padding: 23px 20px;
    font-size: 18px;
    line-height: 24px;

    width: 320px;
  }

  @media (min-width: $desktop-width) {
    width: 400px;
  }
}

.message--error .message__text {
  @media (min-width: $tablet-width) {
    padding: 23px 20px 34px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 0 62px 0;
  }
}

.message--success {
  @media (min-width: $tablet-width) {
    padding-top: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.message--success .message__text {
  @media (min-width: $tablet-width) {
    padding: 23px 20px 30px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 25px 0 38px 0;
  }
}

.message__button {
  padding: 25px 0;

  background-color: $whitesmoke;

  @media (min-width: $tablet-width) {
    padding: 52px 0;
  }
}

.message--error .message__button {
  background-color: $white;

  padding: 0 0 25px 0;

  @media (min-width: $tablet-width) {
    padding: 0 0 52px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 0;

    background-color: $whitesmoke;
  }
}

.message--error .message__btn {
  width: 175px;

  @media (min-width: $tablet-width) {
    width: 296px;
  }
}

.message--success .message__button {
  @media (min-width: $tablet-width) {
    padding: 49px 0 52px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 49px 0;
  }
}

.message--success .message__btn {
  width: 175px;

  @media (min-width: $tablet-width) {
    width: 295px;
  }

  @media (min-width: $desktop-width) {
    width: 460px;
  }
}

.message__btn {
  @media (max-width: $mobile-width-only) {
    padding: 6px 20px;
  }
}
