/* Participant */

.participant {
  color: $bunting;
}

.participant__header {
  margin: 0 auto;
  padding: 44px 20px 36px 20px;

  @media (min-width: $tablet-width) {
    padding: 90px 20px 72px 20px;

    width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding: 90px 10px 66px 10px;

    width: 940px;
  }
}

.participant__intro {
  margin: 0 auto;
  padding: 0;

  line-height: 30px;
  max-width: 420px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    padding: 0 50px;
    max-width: 760px;

    &::after {
      content: "Пожалуйста, заполните форму ниже:";
    }
  }
}

.participant__form {
  margin: 0 auto;
  padding: 0;

  @media (min-width: $tablet-width) {
    padding: 0 20px;
    width: 620px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    width: 940px;
  }
}
