/* Photo Upload */

.photo-upload {
  outline: 5px solid rgba(red, 0.35);
  outline-offset: -5px;

  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    width: 940px;
  }
}

.photo-upload__form {
  margin: 0 auto;
  padding: 20px;
  background-color: $whitesmoke;
}

.photo-upload__intro {
  margin: 0 auto;
}
