/* Photo Upload */

.photo-upload {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 0 10px;
    width: 940px;
  }
}

.photo-upload__header {
  margin: 0 auto;
  padding: 39px 20px 43px 20px;

  color: $bunting;

  @media (min-width: $tablet-width) {
    padding: 62px 20px 69px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 58px 20px 67px 20px;
  }
}

.photo-upload__intro {
  margin: 0;
  text-align: center;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}
