/* Post */

.post {
  outline: 5px solid rgba(green, 0.35);
  outline-offset: -5px;

  margin: 0 auto;
  width: 280px;

  background-color: $whitesmoke;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &--panorama {
    width: 100%;
    padding-bottom: 20px;

    background-color: $white;

    @media (min-width: $tablet-width) {
      padding-bottom: 50px;
    }
  }
}

.post__photo {
  margin: 0 auto;
  width: 100%;
  height: auto;

  &--panorama {
    margin: 0 auto -7px auto;

    @media (min-width: $desktop-width) {
      max-width: 1200px;
    }
  }

  &--panorama img {
    width: 100%;
    height: auto;
  }
}

.post__panorama-sticker {
  position: absolute;

  width: 100%;

  text-align: right;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;

    left: 50%;
    margin-top: 54px;
    margin-left: -480px;
  }
}

.post__panorama-name {
  display: inline-block;
  vertical-align: middle;

  margin: 0 20px;
  padding: 12px 20px 12px 19px;

  font-weight: 700;
  font-size: 12px;
  line-height: 12px;

  background-color: $cerise;
  color: white;

  @media (min-width: $desktop-width) {
    margin: 0 10px;
  }
}

.post__body {
  background-color: $whitesmoke;

  &--panorama {
    @media (min-width: $desktop-width) {
      margin: 0 auto;
      padding: 30px 0;
      width: 940px;
    }
  }
}

.post__body-wrapper {
  &--panorama {
    @media (min-width: $desktop-width) {
      padding: 0 31px 0 27px;
    }
  }
}
