/* Post */

.post {
  margin: 0 auto;
  width: 280px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }

  &--panorama {
    width: 100%;
    padding-bottom: 20px;

    display: grid;
    grid-template-rows: min-content min-content;

    @media (min-width: $tablet-width) {
      padding-bottom: 50px;
    }
  }
}

.post__photo {
  margin: 0 auto;
}

.post--panorama .post__photo {
  width: 100%;

  @media (min-width: $desktop-width) {
    max-width: 1200px;
  }
}

.post--panorama img {
  width: 100%;
  min-height: 137px;

  @media (min-width: $tablet-width) {
    min-height: 509px;
  }

  @media (min-width: $tablet-width) {
    min-height: 506px;
  }
}

.post__panorama-sticker {
  position: absolute;

  width: 100%;

  text-align: right;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
  }

  @media (min-width: $desktop-width) {
    width: 960px;

    left: 50%;
    margin-top: 54px;
    margin-left: -480px;
  }
}

.post__sticker-name {
  display: inline-block;
  vertical-align: middle;

  margin: 0 20px;
  padding: 6px 20px 6px 19px;

  font-weight: 700;
  font-size: 12px;
  line-height: 24px;

  background-color: $cerise;
  color: $white;

  @media (min-width: $desktop-width) {
    margin: 0 10px;
  }
}

.post--no-panorama .post__photo {
  width: 100%;
}

.post--no-panorama img {
  width: 100%;
  min-height: 180px;

  @media (min-width: $tablet-width) {
    min-height: 300px;
  }

  @media (min-width: $desktop-width) {
    min-height: 400px;
  }
}

.post__header,
.post__description,
.post__like {
  padding: 0 10px 0 17px;
  background-color: $whitesmoke;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 31px 0 27px;
  }
}

.post__author {
  font-weight: 700;
}

.post__time {
  font-weight: 300;
  font-size: 12px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    text-transform: none;
  }
}

.post--panorama .post__body {
  background-color: $whitesmoke;
  margin: 0 20px;
  padding: 17px 0 21px 0;

  align-items: center;

  @media (min-width: $tablet-width) {
    padding: 23px 0 24px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 16px 0 2px 0;
    width: 940px;
  }
}

.post--panorama .post__header {
  padding-top: 0;
  order: 1;
}

.post--panorama .post__description {
  order: 3;

  padding-top: 0;
  padding-bottom: 10px;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}


.post--panorama .post__like {
  order: 2;

  padding-bottom: 0;
}

.post__header {
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
  }
}

.post__like {
  padding-bottom: 21.5px;

  @media (min-width: $tablet-width) {
    padding-bottom: 29px;
  }
}

.post__description {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 8px;

  @media (min-width: $tablet-width) {
    min-height: 48px;
    padding-bottom: 12px;
  }
}
