/* Price Table */

.price-table {
  margin: 0 auto;

  border-collapse: separate;
  border-spacing: 0;

  @media (max-width: $mobile-width-only) {
    transform: translateX(-259px);
  }
}

.price-table__tabledata {
  background-color: $white;
  border: 2px solid $gainsboro-2;
  border-right: none;
  border-bottom: none;

  padding-top: 16px;
  padding-bottom: 16px;

  &:first-child {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &:last-child {
    border-right: 2px solid $gainsboro-2;
  }

  @media (min-width: $tablet-width) {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  &--hit {
    background-repeat: no-repeat;
    background-position: top left;

    @media (max-width: $mobile-width-only) {
      background-image: url("../img/bg-hit.svg");
    }

    @media (min-width: $tablet-width) {
      background-image: url("../img/bg-hit-tablet.svg");
    }

    @media (min-width: $desktop-width) {
      background-image: url("../img/bg-hit.svg");
    }
  }
}

.price-table__tablerow:first-child .price-table__tabledata {
  padding-top: 17px;
  padding-bottom: 27px;

  background-color: $bunting;
  color: $white;

  text-transform: uppercase;

  border-top: none;
  border-left: 2px solid $whitesmoke;

  @media (min-width: $tablet-width) {
    padding-top: 12px;
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 15px;
    padding-bottom: 17px;
  }

  &:first-child {
    background-color: inherit;
  }

  &:nth-child(2) {
    border-left: 2px solid $bunting;
    border-radius: 1px 0 0 0;
  }

  &:last-child {
    border-right: 2px solid $bunting;
    border-radius: 0 1px 0 0;
  }
}

.price-table__package-title {
  margin-top: -12px;
  font-weight: 700;
  font-size: 16px;

  @media (min-width: $tablet-width) {
    margin-top: 2px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price-table__tabledata--hit .price-table__package-title {
  margin-top: -22px;

  @media (min-width: $desktop-width) {
    margin-top: -29px;
  }
}

.price-table__package-hit {
  font-weight: 400;
  font-size: 14px;
  text-transform: uppercase;
  position: relative;
  left: -11px;
  max-width: 74px;
  transform: rotate(-45deg);

  @media (min-width: $tablet-width) {
    max-width: 61px;
    left: -9px;
  }

  @media (min-width: $desktop-width) {
    left: -13px;
    max-width: 74px;
  }
}

.price-table__package-price,
.price-table__package-price-unit {
  font-weight: 300;
  font-size: 18px;
}

.price-table__tablerow:nth-child(2) .price-table__tabledata {
  border-top: none;

  &:first-child {
    border-radius: 1px 0 0 0;
    box-shadow: 0 -2px 0 0 $gainsboro-2;
  }
}

.price-table__tablerow:last-child .price-table__tabledata {
  border-bottom: 2px solid $gainsboro-2;

  &:first-child {
    border-radius: 0 0 0 1px;
  }

  &:last-child {
    border-radius: 0 0 1px 0;
  }
}

.price-table__feature {
  margin: 0;
  min-width: 256px;
  padding-left: 20px;
  padding-right: 19px;
  display: grid;
  grid-template-columns: 1fr;
}

.price-table__feature img {
  display: block;
  margin: 0 auto;
}

@media (max-width: $mobile-width-only) {
  .price-table__feature {
    padding-right: 0;
    grid-template-columns: 3fr 1fr;
  }
}

@media (min-width: $tablet-width) {
  .price-table__feature {
    min-width: 113px;
  }

  .price-table__tabledata:not(:first-child) .price-table__feature-data {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .price-table__feature {
    min-width: 194px;
  }
}
