/* Price Table */

.price-table {
  border-collapse: separate;
  border-spacing: 0;
}

.price-table__package-title {
  font-weight: 700;
  font-size: 16px;
}

.price-table__package-price,
.price-table__package-price-unit {
  font-weight: 300;
  font-size: 18px;
}

.price-table__feature-name {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.price-table__tabledata {
  min-width: 240px;
  background-color: $white;
  border: 2px solid $gainsboro-2;
  border-right: none;
  border-bottom: none;

  &:first-child {
    @media (max-width: $mobile-width-only) {
      display: none;
    }
  }

  &:last-child {
    border-right: 2px solid $gainsboro-2;
  }
}

.price-table__tablerow:first-child .price-table__tabledata {
  background-color: $bunting;
  color: $white;
  border-top: none;
  border-left: 2px solid $whitesmoke;

  &:first-child {
    border-left: none;
    border-bottom: 2px solid $gainsboro-2;
    background-color: inherit;
  }

  &:nth-child(2) {
    border-left: 2px solid $bunting;
    border-radius: 1px 0 0 0;
  }

  &:last-child {
    border-right: 2px solid $bunting;
    border-radius: 0 1px 0 0;
  }
}

.price-table__tablerow:nth-child(2) .price-table__tabledata {
  border-top: none;
}

.price-table__tablerow:last-child .price-table__tabledata {
  border-bottom: 2px solid $gainsboro-2;

  &:first-child {
    border-radius: 0 0 0 1px;
  }

  &:last-child {
    border-radius: 0 0 1px 0;
  }
}
