/* Price List */

.price-list {
  padding-top: 120px;
  padding-bottom: 48px;

  background-image: url("../img/bg-triangle-white-mobile.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: $whitesmoke;

  @media (min-width: $tablet-width) {
    padding-top: 115px;
    padding-bottom: 66px;

    background-image: url("../img/bg-triangle-white-tablet.svg");
  }

  @media (min-width: $desktop-width) {
    padding-top: 157px;
    padding-bottom: 96px;

    background-image: url("../img/bg-triangle-white.svg");
  }
}

.price-list__table-wrapper {
  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    width: 320px;
    overflow: hidden;
  }
}

.price-list__control {
  padding-top: 44px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
