// Global Variables

// Colors

$white: #ffffff;
$white--015: rgba(255, 255, 255, 0.15);
$white--030: rgba(255, 255, 255, 0.3);
$white--075: rgba(255, 255, 255, 0.75);
$whitesmoke: #f2f2f2;

$black: #000000;
$black--030: rgba(0, 0, 0, 0.3);
$black--075: rgba(1, 1, 1, 0.75);

$jaguar: #252527;

$bunting: #283645;
$bunting--010: rgba(#283645, 0.1);
$bunting--030: rgba(#283645, 0.3);
$bunting--050: rgba(#283645, 0.5);
$bunting--060: rgba(#283645, 0.6);

// Cerise ~ Pink
$cerise: #d22856;
$cerise--030: rgba(#d22856, 0.3);

$gainsboro-1: #dedede;
$gainsboro-2: #e5e5e5;

$midnight-express :#1d2631;

$dark-green--015: rgba(0, 1, 1, 0.15);
$lime-green: #3dc644;
$jungle-green: #2aab6d;
$elf-green: #1c9b5e;

$outrageous-orange: #f25b26;

// Viewports

$mobile-width-only: 659px;
$tablet-width: 660px;
$desktop-width: 960px;
